<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" content="This is a quiz, made my My Börjeson while in Palma de Mallorca exploring the programming world.">
	<meta title="Quiz of My Börjeson">
	<link rel="stylesheet" href="/static/normalize.css">
<link rel="stylesheet" href="/static/my.css"> 
  </head>
<h1>Du är klar och fick {{ correct }} av {{ total }}</h1>
<p>With these many correct answers you can actually be considered a stalker.</p>