<!doctype html>
<head>
<link rel="shortcut icon" href="../static/favicon.ico">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="/static/normalize.css">
<link rel="stylesheet" href="/static/my.css">
</head>
<html>
<body>
<div class="form-style-5">
<form action="{% url "question_page" quiz.slug question_number %}" method="post">
{% csrf_token %}
<fieldset>
<legend><span class="number">1</span>{{ question_number }}. {{ question }}</legend>
<label answer="1">
<input type="radio" name="answer" value="1">{{ answer1 }}
</label>
<label answer="2">
<input type="radio" name="answer" value="2">{{ answer2 }}
</label>
<label answer="3">
<input type="radio" name="answer" value="3">{{ answer3 }}
</label>
<input type="submit" value="Apply">

<!-- <button type="submit">Nästa</button> -->
<!-- <a href="{% url "question_page" quiz.slug question_number|add:1 %}">Next</a> -->
</form>
</div>
<div class="mainbody">
</body>