<!DOCTYPE html>
<html>
<head>
	<title>Start of quiz</title>
	<link rel="shortcut icon" href="../static/favicon.ico">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link href="/../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
	<div class="row">
		<h1>Take my quiz</h1>
		</br>
		<h2>{{ quiz.name }}</h2>
			<p>{{ quiz.description }}</p></br><a href="{% url "question_page" quiz.slug 1 %}">Let's do this!</a></p>
		<script src="/../../static/bootstrap/js/bootstrap.min.js"></script>
	</div>
	</script>
	</div>
	</div>
</body>
</script>
</html>