<!doctype html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet” href=”../static/normalize.css">
  <link rel="stylesheet" type="text/css" href="../static/my.css"> 
</head>
<html>
<body>
<div class="form-style-5">
<form>
<fieldset>
<legend><span class="number">1</span>How old am I?</legend>
<input type="radio" name="age" value="23">23
<input type="radio" name="age" value="27">27
<input type="radio" name="age" value="30">30
<input type="submit" value="Apply" />
</form>
</div>
<div class="mainbody">
<p>Lite text</p>
</body>